# Node / frontend
node_modules/
dist/
# Ignore environment files
*.env


# Python / backend
__pycache__/
*.pyc
venv/
.env

# IDEs / editors
.vscode/
.idea/
# Frontend and backend env files
frontend/.env
backend/.env
